header{

    font-family: Georgia, 'Times New Roman', Times, serif;

    a img{
        transition: all 0.8s ease;
        
    }

    a img:hover{
        transition: all 0.8s ease;
        transform: rotate(-360deg);
    }


}